#**ASSIGNMENT 1**

In [69]:
#IMPORTING PANDAS
import pandas as pd

In [29]:
#UPLOADING DATASETS
df = pd.read_csv("adult.data", header = None)

In [30]:
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [31]:
df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], dtype='int64')

NAME OF THE COLUMNS ARE NOT ASSIGN , SO ASSIGNING THE NAMES :

In [32]:
columns = [
"age","workclass","finalwt","education","education-num",
"marital-status","occupation","relationship","race",
"sex","capital-gain","capital-loss","hours-per-week",
"native-country","income"
]

df.columns = columns
df.head()

,age,workclass,finalwt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# TASK 0

In [33]:
df.shape

(32561, 15)

In [34]:
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 32561
Columns: 15

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   finalwt         32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [36]:
num_cols = df.select_dtypes(include=['int64','float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

print("Numerical Columns:\n", num_cols)
print("\nCategorical Columns:\n", cat_cols)

Numerical Columns:
 Index(['age', 'finalwt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')

Categorical Columns:
 Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'income'],
      dtype='object')

# TASK 1

In [37]:
df_sorted1 = df.sort_values(by="age", ascending=False)
df_sorted1.head(50)

,age,workclass,finalwt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
14159,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
8806,90,Private,87372,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,20051,0,72,United-States,>50K
6624,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
31696,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
15892,90,Private,88991,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,England,>50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
31030,90,Private,47929,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
24238,90,?,166343,1st-4th,2,Widowed,?,Not-in-family,Black,Female,0,0,40,United-States,<=50K
10545,90,Private,175491,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,9386,0,50,Ecuador,>50K
4109,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,United-States,<=50K
12975,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
25303,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
19212,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,United-States,<=50K
6232,90,Self-emp-not-inc,155981,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,10566,0,50,United-States,<=50K
20610,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
11996,90,Private,40388,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,<=50K
4070,90,Private,313986,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
1935,90,Private,221832,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
10210,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
1040,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
11731,90,?,39824,HS-grad,9,Widowed,?,Not-in-family,White,Male,401,0,4,United-States,<=50K
8963,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
12451,90,?,225063,Some-college,10,Never-married,?,Own-child,Asian-Pac-Islander,Male,0,0,10,South,<=50K
5406,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,United-States,>50K
5370,90,Local-gov,227796,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,20051,0,60,United-States,>50K
18832,90,Private,115306,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
18725,90,Local-gov,153602,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,6767,0,40,United-States,<=50K
32367,90,Local-gov,214594,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
8973,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,United-States,>50K
5272,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
22220,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
19489,90,Private,84553,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
2891,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
28463,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
11512,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
19747,90,Private,226968,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
24043,90,Self-emp-not-inc,82628,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,2964,0,12,United-States,<=50K
21835,88,Self-emp-not-inc,187097,Prof-school,15,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
1168,88,Self-emp-not-inc,206291,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
22895,88,Private,68539,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31432,87,?,90338,HS-grad,9,Widowed,?,Not-in-family,White,Male,0,0,2,United-States,<=50K
24027,86,Private,149912,Masters,14,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
20463,85,Self-emp-not-inc,166027,HS-grad,9,Widowed,Sales,Not-in-family,White,Female,0,0,50,United-States,<=50K
32459,85,Private,98611,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,Poland,<=50K

In [41]:
df_sorted2 = df.sort_values(by="hours-per-week", ascending=True)
df_sorted2.head(50)

                     age          workclass  finalwt  education-num  \
education    income
HS-grad      <=50K    72                  ?    76860              9
Assoc-voc    <=50K    81                  ?   120478             11
HS-grad      <=50K    57   Self-emp-not-inc    56480              9
Assoc-voc    <=50K    67                  ?   244122             11
HS-grad      <=50K    21            Private   184135              9
Some-college <=50K    69                  ?   320280             10
9th          <=50K    66       Self-emp-inc   150726              5
10th         <=50K    74            Private   260669              6
Some-college <=50K    77   Self-emp-not-inc    71676             10
Assoc-acdm   <=50K    69                  ?   117525             12
HS-grad      >50K     65                  ?    76043              9
10th         <=50K    76                  ?   211574              6
Doctorate    >50K     58          State-gov   109567             16
Assoc-voc    <=50K    69                  ?   195779             11
10th         <=50K    75                  ?   260543              6
Masters      <=50K    45                  ?   189564             14
HS-grad      <=50K    78                  ?   363134              9
             <=50K    27            Private   147951              9
             <=50K    23            Private    72887              9
Some-college <=50K    62                  ?    97231             10
Masters      >50K     62                  ?   378239             14
Bachelors    <=50K    27            Private   168827             13
Masters      >50K     61                  ?   584259             14
7th-8th      <=50K    76                  ?   431192              4
Masters      <=50K    67                  ?    81761             14
HS-grad      <=50K    72                  ?   166253              9
7th-8th      <=50K    74                  ?    29866              4
HS-grad      <=50K    87                  ?    90338              9
7th-8th      <=50K    82            Private   152148              4
10th         <=50K    67                  ?   212759              6
Assoc-acdm   >50K     61                  ?   198686             12
Prof-school  <=50K    71   Self-emp-not-inc   163293             15
Some-college <=50K    20            Private   132053             10
HS-grad      <=50K    76                  ?   211453              9
             <=50K    67   Self-emp-not-inc   431426              9
Bachelors    <=50K    67            Private   236627             13
Assoc-acdm   <=50K    40   Self-emp-not-inc   198953             12
Some-college <=50K    71   Self-emp-not-inc   494223             10
Masters      <=50K    64                  ?   143716             14
9th          <=50K    68                  ?   141181              5
Masters      >50K     38                  ?    70282             14
11th         <=50K    18            Private   279593              7
HS-grad      <=50K    50            Private   162632              9
Assoc-voc    <=50K    32                  ?   199046             11
Masters      >50K     47            Private   158451             14
Bachelors    <=50K    32            Private   402089             13
Some-college <=50K    22                  ?   224238             10
Assoc-acdm   >50K     79                  ?   100881             12
HS-grad      >50K     32                  ?   134886              9
Assoc-acdm   <=50K    24          Local-gov   176178             12

                          marital-status          occupation     relationship  \
education    income
HS-grad      <=50K    Married-civ-spouse                   ?          Husband
Assoc-voc    <=50K              Divorced                   ?        Unmarried
HS-grad      <=50K    Married-civ-spouse     Exec-managerial          Husband
Assoc-voc    <=50K               Widowed                   ?    Not-in-family
HS-grad      <=50K         Never-married   Machine-op-inspct        Own-child
Some-college <=50K         Never-married                   ?    Not-in-family
9th          <=50K    Married-civ-spouse     Exec-managerial          Husband
10th         <=50K              Divorced       Other-service    Not-in-family
Some-college <=50K               Widowed        Adm-clerical    Not-in-family
Assoc-acdm   <=50K              Divorced                   ?        Unmarried
HS-grad      >50K     Married-civ-spouse                   ?          Husband
10th         <=50K    Married-civ-spouse                   ?          Husband
Doctorate    >50K     Married-civ-spouse      Prof-specialty          Husband
Assoc-voc    <=50K               Widowed                   ?    Not-in-family
10th         <=50K               Widowed                   ?   Other-relative
Masters      <=50K    Married-civ-spouse                   ?             Wife
HS-grad      <=50K               Widowed                   ?    Not-in-family
             <=50K         Never-married   Machine-op-inspct   Other-relative
             <=50K         Never-married        Craft-repair        Own-child
Some-college <=50K    Married-civ-spouse                   ?             Wife
Masters      >50K     Married-civ-spouse                   ?          Husband
Bachelors    <=50K         Never-married               Sales        Own-child
Masters      >50K     Married-civ-spouse                   ?          Husband
7th-8th      <=50K               Widowed                   ?    Not-in-family
Masters      <=50K    Married-civ-spouse                   ?          Husband
HS-grad      <=50K    Married-civ-spouse                   ?             Wife
7th-8th      <=50K    Married-civ-spouse                   ?          Husband
HS-grad      <=50K               Widowed                   ?    Not-in-family
7th-8th      <=50K    Married-civ-spouse   Handlers-cleaners          Husband
10th         <=50K    Married-civ-spouse                   ?          Husband
Assoc-acdm   >50K     Married-civ-spouse                   ?          Husband
Prof-school  <=50K    Married-civ-spouse     Farming-fishing          Husband
Some-college <=50K         Never-married      Prof-specialty        Own-child
HS-grad      <=50K               Widowed                   ?    Not-in-family
             <=50K    Married-civ-spouse        Adm-clerical             Wife
Bachelors    <=50K    Married-civ-spouse      Prof-specialty          Husband
Assoc-acdm   <=50K         Never-married      Prof-specialty        Own-child
Some-college <=50K             Separated               Sales        Unmarried
Masters      <=50K    Married-civ-spouse                   ?          Husband
9th          <=50K    Married-civ-spouse                   ?          Husband
Masters      >50K     Married-civ-spouse                   ?             Wife
11th         <=50K         Never-married      Prof-specialty        Own-child
HS-grad      <=50K    Married-civ-spouse        Craft-repair          Husband
Assoc-voc    <=50K         Never-married                   ?        Unmarried
Masters      >50K     Married-civ-spouse      Prof-specialty             Wife
Bachelors    <=50K    Married-civ-spouse        Adm-clerical             Wife
Some-college <=50K         Never-married                   ?        Own-child
Assoc-acdm   >50K     Married-civ-spouse                   ?             Wife
HS-grad      >50K     Married-civ-spouse                   ?             Wife
Assoc-acdm   <=50K         Never-married      Prof-specialty        Own-child

                                    race      sex  capital-gain  capital-loss  \
education    income
HS-grad      <=50K    Asian-Pac-Islander     Male             0             0
Assoc-voc    <=50K                 White   Female             0             0
HS-grad      <=50K                 White     Male             0             0
Assoc-voc    <=50K                 White   Female             0             0
HS-grad      <=50K                 Black     Male             0             0
Some-college <=50K                 White     Male          1848             0
9th          <=50K                 White     Male          1409             0
10th         <=50K                 White   Female             0             0
Some-college <=50K                 White   Female             0          1944
Assoc-acdm   <=50K                 White   Female             0             0
HS-grad      >50K                  White     Male             0             0
10th         <=50K                 White     Male             0             0
Doctorate    >50K                  White     Male             0             0
Assoc-voc    <=50K                 White   Female             0             0
10th         <=50K    Asian-Pac-Islander   Female             0             0
Masters      <=50K                 White   Female             0             0
HS-grad      <=50K                 White   Female             0             0
             <=50K                 White     Male             0             0
             <=50K    Asian-Pac-Islander     Male             0             0
Some-college <=50K                 White   Female             0             0
Masters      >50K                  White     Male             0             0
Bachelors    <=50K                 White     Male             0             0
Masters      >50K                  White     Male             0             0
7th-8th      <=50K                 White     Male             0             0
Masters      <=50K                 White     Male             0             0
HS-grad      <=50K                 White   Female             0             0
7th-8th      <=50K                 White     Male             0             0
HS-grad      <=50K                 White     Male             0             0
7th-8th      <=50K                 White     Male             0             0
10th         <=50K                 White     Male             0             0
Assoc-acdm   >50K                  White     Male             0             0
Prof-school  <=50K                 White     Male             0             0
Some-college <=50K                 White   Female             0             0
HS-grad      <=50K                 Black   Female             0             0
             <=50K                 White   Female             0             0
Bachelors    <=50K                 White     Male             0             0
Assoc-acdm   <=50K                 Black   Female             0             0
Some-college <=50K                 Black     Male             0          1816
Masters      <=50K                 White     Male             0             0
9th          <=50K                 White     Male             0             0
Masters      >50K                  Black   Female         15024             0
11th         <=50K                 White   Female             0             0
HS-grad      <=50K                 White     Male             0             0
Assoc-voc    <=50K                 White   Female             0             0
Masters      >50K                  White   Female             0             0
Bachelors    <=50K                 White   Female             0             0
Some-college <=50K                 White     Male             0             0
Assoc-acdm   >50K                  White   Female             0             0
HS-grad      >50K                  White   Female             0             0
Assoc-acdm   <=50K                 White   Female             0             0

                     hours-per-week  native-country
education    income
HS-grad      <=50K                1   United-States
Assoc-voc    <=50K                1               ?
HS-grad      <=50K                1   United-States
Assoc-voc    <=50K                1   United-States
HS-grad      <=50K                1   United-States
Some-college <=50K                1   United-States
9th          <=50K                1               ?
10th         <=50K                1   United-States
Some-college <=50K                1   United-States
Assoc-acdm   <=50K                1   United-States
HS-grad      >50K                 1   United-States
10th         <=50K                1   United-States
Doctorate    >50K                 1   United-States
Assoc-voc    <=50K                1   United-States
10th         <=50K                1           China
Masters      <=50K                1   United-States
HS-grad      <=50K                1   United-States
             <=50K                1   United-States
             <=50K                1         Vietnam
Some-college <=50K                1   United-States
Masters      >50K                 2   United-States
Bachelors    <=50K                2   United-States
Masters      >50K                 2   United-States
7th-8th      <=50K                2   United-States
Masters      <=50K                2   United-States
HS-grad      <=50K                2   United-States
7th-8th      <=50K                2   United-States
HS-grad      <=50K                2   United-States
7th-8th      <=50K                2   United-States
10th         <=50K                2   United-States
Assoc-acdm   >50K                 2   United-States
Prof-school  <=50K                2   United-States
Some-college <=50K                2   United-States
HS-grad      <=50K                2   United-States
             <=50K                2   United-States
Bachelors    <=50K                2   United-States
Assoc-acdm   <=50K                2   United-States
Some-college <=50K                2   United-States
Masters      <=50K                2   United-States
9th          <=50K                2   United-States
Masters      >50K                 2   United-States
11th         <=50K                2   United-States
HS-grad      <=50K                2   United-States
Assoc-voc    <=50K                2   United-States
Masters      >50K                 2   United-States
Bachelors    <=50K                2   United-States
Some-college <=50K                2   United-States
Assoc-acdm   >50K                 2   United-States
HS-grad      >50K                 2   United-States
Assoc-acdm   <=50K                2   United-States

In [44]:
df.reset_index(inplace=True)

In [45]:
df.head()

,education,income,age,workclass,finalwt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,Bachelors,<=50K,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,Bachelors,<=50K,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,HS-grad,<=50K,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,11th,<=50K,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,Bachelors,<=50K,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

for doing change in original data , we can use inplace = True .

In [46]:
#Reordering columns
demographic = df[["age","sex","race","native-country"]]

education = df[["education","education-num"]]

work = df[["workclass","occupation","hours-per-week"]]

relationship = df[["marital-status","relationship"]]

financial = df[["income" , "capital-gain", "capital-loss"]]

In [47]:
work.head()

           workclass          occupation  hours-per-week
0          State-gov        Adm-clerical              40
1   Self-emp-not-inc     Exec-managerial              13
2            Private   Handlers-cleaners              40
3            Private   Handlers-cleaners              40
4            Private      Prof-specialty              40

# TASK 2

In [49]:
df_t2 = df[(df["age"] > 40) &
            (df["hours-per-week"] >= 60) &
            (df["capital-gain"] > 0)]

In [50]:
df_t2.head()

,education,income,age,workclass,finalwt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
101,Bachelors,>50K,44,Private,198282,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States
272,Masters,<=50K,50,Self-emp-not-inc,30653,14,Married-civ-spouse,Farming-fishing,Husband,White,Male,2407,0,98,United-States
413,Doctorate,>50K,46,Private,188386,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States
610,Masters,<=50K,52,Private,200853,14,Divorced,Prof-specialty,Not-in-family,White,Female,6849,0,60,United-States
632,Some-college,>50K,43,Private,154374,10,Married-civ-spouse,Craft-repair,Husband,White,Male,15024,0,60,United-States

In [52]:
income_numeric = df.select_dtypes(include=['int64','float64'])
income_numeric.head()

   age  finalwt  education-num  capital-gain  capital-loss  hours-per-week
0   39    77516             13          2174             0              40
1   50    83311             13             0             0              13
2   38   215646              9             0             0              40
3   53   234721              7             0             0              40
4   28   338409             13             0             0              40

In [54]:
df["net_capital"] = df["capital-gain"] - df["capital-loss"]
df["work_intensity"] = df["hours-per-week"]/df["age"]
df.head()

,education,income,age,workclass,finalwt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,net_capital,work_intensity
0,Bachelors,<=50K,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,2174,1.025641
1,Bachelors,<=50K,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0,0.260000
2,HS-grad,<=50K,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0,1.052632
3,11th,<=50K,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0,0.754717
4,Bachelors,<=50K,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0,1.428571

In [62]:
df_en = df[df["education-num"] > 12]
df_hpw = df[df["hours-per-week"] > 40]
df_cg = df[df["capital-gain"] > 0]

,education,income,age,workclass,finalwt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,net_capital,work_intensity
0,Bachelors,<=50K,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,2174,1.025641
1,Bachelors,<=50K,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0,0.260000
4,Bachelors,<=50K,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0,1.428571
5,Masters,<=50K,37,Private,284582,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0,1.081081
8,Masters,>50K,31,Private,45781,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,14084,1.612903

In [65]:
df_en.loc[5]

education                     7th-8th
income                          <=50K
age                                34
workclass                     Private
finalwt                        245487
education-num                       4
marital-status     Married-civ-spouse
occupation           Transport-moving
relationship                  Husband
race               Amer-Indian-Eskimo
sex                              Male
capital-gain                        0
capital-loss                        0
hours-per-week                     45
native-country                 Mexico
net_capital                         0
work_intensity               1.323529
Name: 15, dtype: object

In [66]:
df_hpw.iloc[4]

education                     7th-8th
income                          <=50K
age                                34
workclass                     Private
finalwt                        245487
education-num                       4
marital-status     Married-civ-spouse
occupation           Transport-moving
relationship                  Husband
race               Amer-Indian-Eskimo
sex                              Male
capital-gain                        0
capital-loss                        0
hours-per-week                     45
native-country                 Mexico
net_capital                         0
work_intensity               1.323529
Name: 15, dtype: object

In [67]:
df_cg.iloc[[0, 2, 5]]

,education,income,age,workclass,finalwt,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,net_capital,work_intensity
0,Bachelors,<=50K,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,2174,1.025641
9,Bachelors,>50K,42,Private,159449,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,5178,0.952381
84,HS-grad,>50K,44,Private,343591,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,14344,0.909091