<a href="https://colab.research.google.com/github/AfraazUlHaque/ASSIGNMENTS/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TASK 1**

In [215]:
import pandas as pd
import numpy as np

In [216]:
df = pd.read_csv("titanic.csv")

In [217]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [218]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
896,291,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0,0,0,19877,78.8500,NaN,S
897,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.7500,NaN,Q
898,334,0,3,"Vander Planke, Mr. Leo Edmondus",male,16.0,2,0,345764,18.0000,NaN,S
899,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.0,0,0,367231,7.7500,NaN,Q
900,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S

In [219]:
#NO OF COLUMNS ND ROWS
print("ROWS : " , df.shape[0])
print("COL : " , df.shape[1])

ROWS :  901
COL :  12

In [220]:
#COLUMNS NAME
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [221]:
#d-type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  901 non-null    int64
 1   Survived     901 non-null    int64
 2   Pclass       901 non-null    int64
 3   Name         901 non-null    object
 4   Sex          901 non-null    object
 5   Age          722 non-null    float64
 6   SibSp        901 non-null    int64
 7   Parch        901 non-null    int64
 8   Ticket       901 non-null    object
 9   Fare         901 non-null    float64
 10  Cabin        205 non-null    object
 11  Embarked     899 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 84.6+ KB

In [222]:
#IDENTIFIED NUMERICAL AND CATEGORICAL ATTRIBUTES
nums_col = df.select_dtypes(include =['int64' , 'float64']).columns
cat_col = df.select_dtypes(exclude=['int64' , 'float64']).columns
print("NUMERICAL COLUMNS : " , nums_col)
print("CATEGORICAL COLUMNS : " , cat_col)

NUMERICAL COLUMNS :  Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
CATEGORICAL COLUMNS :  Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

# **TASK 2**

In [223]:
#MISSING VALUES
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            179
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          696
Embarked         2
dtype: int64

In [224]:
#total no of missing values
df.isnull().sum().sum()

np.int64(877)

In [225]:
#duplicates
df.duplicated().sum()

np.int64(10)

In [226]:
#Summary statics
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,901.000000,901.000000,901.000000,722.000000,901.000000,901.000000,901.00000
mean,445.516093,0.387347,2.309656,29.575028,0.521643,0.381798,32.08712
std,257.381777,0.487415,0.835734,14.512555,1.098902,0.804613,49.47708
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,223.000000,0.000000,2.000000,20.000000,0.000000,0.000000,7.92500
50%,444.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,669.000000,1.000000,3.000000,38.000000,1.000000,0.000000,31.00000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

In [227]:
#for categoricals
df.describe(include=['object'])

                                   Name   Sex  Ticket Cabin Embarked
count                               901   901     901   205      899
unique                              891     2     681   147        3
top     Vander Planke, Mr. Leo Edmondus  male  347082    G6        S
freq                                  2   581       7     4      650

# **TASK 2**

In [228]:
#REPLACING NUMERICAL DATA WITH MEDIAN
for col in nums_col:
    df[col] = df[col].fillna(df[col].median() , inplace = True )

/tmp/ipython-input-2740904749.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col] = df[col].fillna(df[col].median() , inplace = True )

In [229]:
#REPLACING CATEGORICAL DATA WITH MODE
for col in cat_col:
    df[col] = df[col].fillna(df[col].mode()[0])

In [230]:
#verifying
df.isnull().sum().sum()

np.int64(6307)

# **TASK 3**

In [231]:
df.drop_duplicates(inplace = True)

In [232]:
#SHAPE AFTER REMOVING DUPLICATES
df.shape

(891, 12)

# **TASK 4**

In [233]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [234]:
df.rename(columns={'Parch':'Parents/Childrens'}, inplace =True)

In [235]:
df.rename(columns={'SibSp':'Siblings/Spouse'}, inplace =True)

In [236]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'Siblings/Spouse', 'Parents/Childrens', 'Ticket', 'Fare', 'Cabin',
       'Embarked'],
      dtype='object')

In [237]:
#RESET INDEX
df.reset_index(drop=True, inplace=True)

In [238]:
df = df[['PassengerId' ,'Name', 'Pclass','Sex', 'Age','Siblings/Spouse',
       'Parents/Childrens','Survived','Ticket' , 'Fare', 'Cabin', 'Embarked' ]]

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PassengerId        0 non-null      object
 1   Name               891 non-null    object
 2   Pclass             0 non-null      object
 3   Sex                891 non-null    object
 4   Age                0 non-null      object
 5   Siblings/Spouse    0 non-null      object
 6   Parents/Childrens  0 non-null      object
 7   Survived           0 non-null      object
 8   Ticket             891 non-null    object
 9   Fare               0 non-null      object
 10  Cabin              891 non-null    object
 11  Embarked           891 non-null    object
dtypes: object(12)
memory usage: 83.7+ KB

# **TASK 5**

In [240]:
df.to_csv("cleaned.csv")

In [245]:
dfn = pd.read_csv("cleaned.csv")

In [249]:
dfn.head()

,Unnamed: 0,PassengerId,Name,Pclass,Sex,Age,Siblings/Spouse,Parents/Childrens,Survived,Ticket,Fare,Cabin,Embarked
0,0,NaN,"Braund, Mr. Owen Harris",NaN,male,NaN,NaN,NaN,NaN,A/5 21171,NaN,B96 B98,S
1,1,NaN,"Cumings, Mrs. John Bradley (Florence Briggs Th...",NaN,female,NaN,NaN,NaN,NaN,PC 17599,NaN,C85,C
2,2,NaN,"Heikkinen, Miss. Laina",NaN,female,NaN,NaN,NaN,NaN,STON/O2. 3101282,NaN,B96 B98,S
3,3,NaN,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",NaN,female,NaN,NaN,NaN,NaN,113803,NaN,C123,S
4,4,NaN,"Allen, Mr. William Henry",NaN,male,NaN,NaN,NaN,NaN,373450,NaN,B96 B98,S