<a href="https://colab.research.google.com/github/AfraazUlHaque/ASSIGNMENTS/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **TASK 0**

In [4]:
import pandas as pd

In [9]:
df = pd.read_csv("dataa.csv")

In [13]:
#NO OF COLUMNS ND ROWS
print("ROWS : " , df.shape[0])
print("COL : " , df.shape[1])

ROWS :  200
COL :  6

In [12]:
df.columns

Index(['Student_ID', 'Study_Hours', 'Attendance_Percentage', 'Internal_Marks',
       'Final_Marks', 'Grade'],
      dtype='object')

In [14]:
#d-type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student_ID             200 non-null    int64
 1   Study_Hours            200 non-null    int64
 2   Attendance_Percentage  200 non-null    int64
 3   Internal_Marks         200 non-null    int64
 4   Final_Marks            200 non-null    int64
 5   Grade                  200 non-null    object
dtypes: int64(5), object(1)
memory usage: 9.5+ KB

In [15]:
#IDENTIFIED NUMERICAL AND CATEGORICAL ATTRIBUTES
nums_col = df.select_dtypes(include =['int64' , 'float64']).columns
cat_col = df.select_dtypes(exclude=['int64' , 'float64']).columns
print("NUMERICAL COLUMNS : " , nums_col)
print("CATEGORICAL COLUMNS : " , cat_col)

NUMERICAL COLUMNS :  Index(['Student_ID', 'Study_Hours', 'Attendance_Percentage', 'Internal_Marks',
       'Final_Marks'],
      dtype='object')
CATEGORICAL COLUMNS :  Index(['Grade'], dtype='object')

# **TASK 1**

In [18]:
df.head(5)

,Student_ID,Study_Hours,Attendance_Percentage,Internal_Marks,Final_Marks,Grade
0,101,1,45,37,55,C
1,102,5,57,27,58,C
2,103,2,97,37,59,C
3,104,4,72,20,47,C
4,105,4,56,39,68,B

In [22]:
df.describe()

,Student_ID,Study_Hours,Attendance_Percentage,Internal_Marks,Final_Marks
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,200.500000,5.260000,67.775000,29.905000,60.395000
std,57.879185,2.923205,20.196631,11.495945,19.023365
min,101.000000,1.000000,35.000000,10.000000,22.000000
25%,150.750000,3.000000,49.000000,20.750000,46.000000
50%,200.500000,5.000000,68.500000,30.000000,59.500000
75%,250.250000,8.000000,87.000000,40.000000,75.500000
max,300.000000,10.000000,100.000000,50.000000,100.000000

# **TASK 2**

In [ ]:
cols = ['Final_Marks']

for col in cols:
    df[col + 'normalised'] = ['Final_Marks']