<a href="https://colab.research.google.com/github/AfraazUlHaque/ASSIGNMENTS/blob/main/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("data.csv")

In [ ]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [ ]:
customer_count = df['y'].value_counts().get('yes', 0)
print(f"Number of 'yes' values in 'y' column: {customer_count}")

Number of 'yes' values in 'y' column: 521

In [ ]:
no_of_customers = df.groupby('job')['y'].apply(lambda x: (x == 'yes').sum())
print(no_of_customers)

job
admin.            58
blue-collar       69
entrepreneur      15
housemaid         14
management       131
retired           54
self-employed     20
services          38
student           19
technician        83
unemployed        13
unknown            7
Name: y, dtype: int64

In [ ]:
highest_subscription_job = no_of_customers.idxmax()
highest_subscription_count = no_of_customers.max()

print(f"The job category with the highest number of subscribed customers is '{highest_subscription_job}' with {highest_subscription_count} subscriptions.")

The job category with the highest number of subscribed customers is 'management' with 131 subscriptions.

In [ ]:
df["balance"].mean()

np.float64(1422.6578190665782)

In [ ]:
df.groupby("marital")["balance"].mean()

marital
divorced    1122.390152
married     1463.195567
single      1460.414716
Name: balance, dtype: float64

In [ ]:
(df["loan"] == "yes").sum()

np.int64(691)

In [ ]:
month_counts = df['month'].value_counts()
highest_contact_month = month_counts.idxmax()
highest_contact_count = month_counts.max()

print(f"The month with the highest number of customer contacts is '{highest_contact_month}' with {highest_contact_count} contacts.")

The month with the highest number of customer contacts is 'may' with 1398 contacts.

In [ ]:
df2 = df[df["duration"] > 500]

In [ ]:
contact_counts = df['contact'].value_counts()
highest_contact_method = contact_counts.idxmax()
highest_contact_count = contact_counts.max()

print(f"The contact communication method with the highest number of customer contacts is '{highest_contact_method}' with {highest_contact_count} contacts.")

The contact communication method with the highest number of customer contacts is 'cellular' with 2896 contacts.

In [ ]:
filtered_customers = df[(df['age'] > 40) & (df['balance'] > 2000)]
num_customers = len(filtered_customers)

print(f"Number of customers with age > 40 and balance > 2000: {num_customers}")

Number of customers with age > 40 and balance > 2000: 478

In [ ]:
education_counts = df['education'].value_counts()
highest_education_level = education_counts.idxmax()
highest_education_count = education_counts.max()

print(f"The education level with the highest number of customers is '{highest_education_level}' with {highest_education_count} customers.")

The education level with the highest number of customers is 'secondary' with 2306 customers.